

#header {
  margin:0 auto;
  width:auto;
  height:100px;
  background-color:#FFF4FF;
  }

#introduce {
  margin:0 auto;
  width:auto;
  height:500px;
  padding:50px;
  background-color:#E0FFFF;
  }

.anim_box {
  margin:10px auto;
  width:480px;
  height:480px;
  background-color:#FFFFFF;
  text-align:center;
  line-height:50px;
  font-size:40px;
  }

.left_box {
  margin:0;
  width:240px;
  height:480px;
  background-color:#FFFFFF;
  float:left;
  }

.right_box {
  margin:0;
  width:240px;
  height:480px;
  background-color:#FFFFFF;
  float:right;
  }

.leftup{
  margin:0px 4px;
  width:232px;
  height:0px;
  border-radius:10px;
  overflow:hidden;
  background-color:#FFAAAA;
  }

.leftdown {
  margin:4px;
  width:232px;
  height:472px;
  border-radius:10px;
  overflow:hidden;
  background-color:#AAFFFF;
  float:left;
  }

.rightup{
  margin:4px;
  width:232px;
  height:232px;
  border-radius:10px;
  overflow:hidden;
  background-color:#AAFFAA;
  }


.rightdown {
  margin:4px;
  width:232px;
  height:232px;
  border-radius:10px;
  overflow:hidden;
  background-color:#FFFFAA;
  float:left;
  }

.contentl1{
  padding:40px;
  line-height:40px;
  }

.contentl2{
  padding:40px;
  overflow:hidden;
  }

.contentr1{
  padding:40px;
  overflow:hidden;
  }

.contentr2{
  padding:40px;
  overflow:hidden;
  }

